frontend/playwright-report/data/
frontend/test-results/
frontend/test-results/frontend-backend-Frontend--1d4ec-ad-the-frontend-application-chromium/test-failed-1.png
frontend/test-results/frontend-backend-Frontend--1d4ec-ad-the-frontend-application-firefox/error-context.md
frontend/test-results/frontend-backend-Frontend--1d4ec-ad-the-frontend-application-firefox/test-failed-1.png
